.card-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    width: 50%;
    align-items: stretch;
    justify-content: center;
    
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
}