
.project-container {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 1rem;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    
}

.project-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    object-fit: fill;
    
}
.project-title {
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 0;
}

.project-employer {
    margin-top: 0;
    text-align: left;
    font-weight: bold;
    font-size: 0.7rem;
    color: #aaaaaa
}

.project-duration {
    margin-top: 0;
    text-align: left;
    font-weight: bold;
    font-size: 0.7rem;
    color: #aaaaaa
}

.project-desc {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-top: 0rem;
    color: #aaaaaa;
    text-align: left;

}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem;
    margin-top: 0.25rem; 
    margin-bottom: 0.5rem;

}

.project-footer {
    margin-top: auto;
    padding-top: 0.75rem;
    text-align: left;
    margin-bottom: 0;
}