#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%
}

.parent-container {
  margin-top: 15rem;
}

.name-title {
  text-align: left;
}

.greeting-text {
  margin-top: 25rem;
  font-size: 5rem;
}

.small-text {
  font-weight:600;
  color: #dddddd;
}